/* * {
  border: 1px solid red;
} */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #f2f3f7;
    background-color: #16171d;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "header"
    "main";
}

.container {
    width: 60%;
    margin: 0 auto;
}

header {
    grid-area: header;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo img {
    width: 50px;
}

h2 {
    font-weight: 700;
}

.main-content {
    grid-area: main;
}

#add-book {
    display: grid;
    grid-template-columns: 4fr 2fr auto auto;
    gap: 1rem;
}

.form-field {
    display: grid;
}

.form-field:last-of-type {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #757575;
    background-color: #24252b;
    border-radius: 5px;
    padding: .4rem 0.5rem;
}

input[type=text] {
    appearance: none;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: .4rem 0.5rem;
    background-color: #24252b;
    color: inherit;
}

input[type=text]:focus {
    outline: none;
    border: 1px solid #0074e0;
}

/* SLIDER STARTS */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3.5px;
    bottom: 1.7px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #0074e0;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #0074e0;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
/* SLIDER ENDS */

button {
    border: none;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

form > button {
    color: inherit;
    background-color: #24252b;
    padding: 0 2.0rem;
}

form > button:hover {
    background-color: #0074e0;
}

.book-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.book {
    background-color: #24252b;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title {
    font-size: 1.5rem;
}

.book > button {
    width: 7rem;
    padding: 0.25rem 2rem;
}

button.status {
    color: #f2f3f7;
    background: #0074e0;
}

button.delete {
    color: #f2f3f7;
    background: #16171d;
}

@media only screen and (min-width: 900px) {
    .container {
        /* margin: 0 20rem; */
    }
}