/* * {
  border: 1px solid red;
} */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #f2f3f7;
    background-color: #16171d;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "header"
    "main";
}

header {
    grid-area: header;
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo img {
    width: 50px;
}

h2 {
    font-weight: 700;
}

.main-content {
    grid-area: main;
}