/* * {
  border: 1px solid red;
} */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #f2f3f7;
    background-color: #16171d;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "header"
    "main";
}

.container {
    width: 60%;
    margin: 0 auto;
}

header {
    grid-area: header;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo img {
    width: 50px;
}

h2 {
    font-weight: 700;
}

.main-content {
    grid-area: main;
}

#add-book {
    display: flex;
    gap: 1rem;
}

input {
    appearance: none;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: .4rem 0.5rem;
    background-color: #24252b;
    color: inherit;
}

input:focus {
    outline: none;
    border: 1px solid #0074e0;
}

button {
    background-color: #24252b;
    color: inherit;
    border: none;
    border-radius: 5px;
}

@media only screen and (min-width: 900px) {
    .container {
        /* margin: 0 20rem; */
    }
}